@use "abstracts/variables";
@use "@wordpress/components/build-style/style";
@use "components/index" as components;
@use "vendors/index" as vendors;

#editorial-control-page {
	background-color: variables.$white;
	padding: variables.$spacing-lg;
}

.rp-ecs-container {
	position: relative;
}

.rp-ecs-loading-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	min-height: calc(100vh - 32px - variables.$spacing-lg);
	text-align: center;
}

.rp-ecs-loading-bar {
	height: 3px;

	& > div {
		background-color: variables.$color-primary;
	}
}

.rp-ecs-loading-text {
	color: variables.$neutral-400;
	font-weight: 600;
}
