// assets/css/settings/components/_cover-section.scss

.rp-ecs-cover-articles {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.rp-ecs-cover-audiovisual-section__fields {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	width: 100%;

	& .field-text,
	& .field-url {
		flex-basis: calc(50% - 0.5rem);
	}

	& .field-textarea {
		flex-basis: 100%;
	}
}

.rp-ecs-cover-audiovisual-section__preview {
	display: flex;
	flex-direction: row;
	gap: 1rem;

	& .rp-ecs-cover-audiovisual-section__preview-embed {
		flex-basis: 50%;
	}

	& .rp-ecs-cover-audiovisual-section__preview-text {
		flex-basis: 50%;
	}
}
