@use "../abstracts/variables";

.rp-ecs-cover-article {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: 1em;
}

.rp-ecs-cover-article__image {
	height: auto;
	object-fit: cover;
	width: 100%;
}

.rp-ecs-cover-article__image-wrapper {
	aspect-ratio: 16/9;
	border-radius: 2px;
	overflow: hidden;
	width: 100%;
}

.rp-ecs-cover-article__picker {
	display: flex;
	flex-direction: column;
}

.rp-ecs-cover-article__picker-label {
	align-items: center;
	display: flex;
	height: calc(variables.$spacing-md * 2);
	justify-content: space-between;
	margin-bottom: 0.25em;
}

.rp-ecs-cover-article__link {
	text-decoration: none;
}

.rp-ecs-cover-article__meta {
	color: variables.$neutral-500;
	font-size: 0.75rem;
	margin-top: 4px;
}

.rp-ecs-cover-article__preview {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
	padding: 8px;
}

.rp-ecs-cover-article__remove-button {
	min-width: min-content;
	padding: 0;
}

.rp-ecs-cover-article__text {
	flex: 1;
}

.rp-ecs-cover-article__title {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 4px;
}
