@use "../abstracts/variables";
@use "sass:color";

.rp-ecs-save-container {
	align-items: flex-end;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: fixed;
	right: 1rem;
}

.rp-ecs-save-bar {
	align-items: center;
	background-color: variables.$neutral-100;
	border-radius: 4px;
	bottom: 1rem;
	display: flex;
	font-size: 1rem;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	position: fixed;
	right: 1rem;
	width: max-content;
}

.rp-ecs-unsaved,
.rp-ecs-error {
	color: variables.$color-error;
	font-size: 0.875rem;
	white-space: nowrap;
}

.rp-ecs-save-changes-button {
	background-color: variables.$color-primary !important;
	color: variables.$neutral-200 !important;
	
	&[disabled] {
		opacity: 0.5;
	}

	&:not([disabled], [aria-disabled="true"]) {

		&:hover,
		&[aria-expanded="true"] {
			background-color: color.adjust(variables.$color-primary, $lightness: 5%, $space: oklch) !important;
			color: variables.$neutral-200 !important;
		}
	}
}
